<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>Installerwindows.fr</title>
  <link rel="manifest" href="/manifest.json" />
	<link rel="apple-touch-icon" href="/images/icon-192x192.png" />
	<link rel="icon" href="/images/icon-192x192.png" />

  @viteReactRefresh()
  @inertiaHead()
  @vite(['inertia/app/app.tsx', `inertia/pages/${page.component}.tsx`])
</head>

<body>
  @inertia()
</body>

</html>
