.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #222831;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
