@import './fonts/poppins/import.css';

* {
	scroll-behavior: smooth !important;
}

#app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* For light mode */
:root[data-mantine-color-scheme='light'] {
	--mantine-color-body: #f0eef6 !important;
}

/* For dark mode */
:root[data-mantine-color-scheme='dark'] {
	--mantine-color-body: #222831 !important;
}
