.ineedhelp {
    user-select: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    height: 50px;
    width: 165px;
    text-decoration: none;
    color: #fff;
    background-color: #3F88C5;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s cubic-bezier(1,0,0,0);
}

.ineedhelp>svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: .25s ease-in-out;
}

.ineedhelp>.text {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ineedhelp>.text>svg {
    margin-right: 5px;
}

.ineedhelp:hover {
    transform: scale(.95);
    background: #4F95DA;
}

.ineedhelp:hover svg {
    stroke-dashoffset: -480;
}