@use "styles/colors.scss" as *;

a.ineedhelp {
  user-select: none;
  position: fixed;
  right: 15px;
  bottom: 15px;
  text-decoration: none;
  color: $font-color;
  background-color: $btn-color;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 0.15s;
  transform: scale(1);
  animation: pulse-black 2s infinite;

  & svg {
    font-size: 2em;
  }

  &:hover {
    background: #4f95da;
  }
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 $main-color;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
