.card {
	background-color: transparent !important;
	border: none;
	box-shadow: none;
	overflow: unset !important;
}

.card:before {
	--size: 85%;
	z-index: -1;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	height: var(--size);
	width: var(--size);
	background-color: light-dark(
		var(--mantine-color-gray-4),
		var(--mantine-color-dark-9)
	);
	border-radius: var(--mantine-radius-md);
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: all 0.15s ease;
}

.card:hover:before {
	--size: calc(100% + var(--mantine-spacing-lg));
	opacity: 1;
}

.cardImage {
	border-radius: var(--mantine-radius-md);
	box-shadow: var(--mantine-shadow-md);
	overflow: hidden;
}

.cardSection {
	padding: var(--mantine-spacing-sm);
	padding-bottom: 0;
}

.card[data-active='true']:not(:hover) .cardImage {
	box-shadow: 0 0 1rem 0rem var(--mantine-color-blue-5);
}

.card[data-active='true'] .cardSection {
	color: var(--mantine-color-blue-3);
}
