@use "styles/colors.scss" as *;
@use "styles/media-queries.scss" as *;
@use "styles/keyframes.scss" as *;

.guide-create {
  width: $media-medium-desktop;
  font-size: 1.2em;
  padding: 1em;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  animation: 0.5s fadein both;

  & main {
    width: 100%;
    display: flex;
    flex: 1;
    gap: 1em;
    align-items: center;
    flex-direction: column;

    & form {
      width: 500px;
    }
  }
}

@media screen and (max-width: calc($media-medium-desktop + 20px)) {
  .guide-create {
    width: 100%;
  }
}

@media screen and (max-width: calc($media-mobile + 20px)) {
  .guide-create main form {
    width: 100%;
  }
}
