@import "../../styles/colors.scss";
@import "../../styles/media-queries.scss";

.navbar {
    z-index: 999;
    height: 75px;
    width: 100%;
    font-weight: 400;
    background-color: $bg-color;
    border: 0 solid transparent;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    transition: 0.15s;

    &.shadow {
        position: sticky;
        top: 15px;
        padding: 0 1em;
        border-radius: 3px;
        background-color: rgba($color: $dark-bg-color, $alpha: 0.95);
        border: 1px solid $smooth-border-color;
        backdrop-filter: blur(20px);
    }

    & .brand {
        color: $main-color;
        font-size: 1.5em;
    }

    & .links {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}

@media screen and (max-width: $media-mobile) {
    .navbar {
        height: 35px;
        justify-content: center;

        & .brand {
            display: none;
        }
    }
}
