@import './colors.scss';
@import './media-queries.scss';
@import './keyframes.scss';
@import './fonts/poppins/import.scss';

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth !important;
  scroll-margin-top: 100px;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #ccc;
  background-color: $bg-color;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  overflow: auto;
  scrollbar-gutter: stable both-edges;

  &.lock-scroll {
    scrollbar-gutter: unset;
    overflow: hidden;
  }
}

.reset {
  font-size: 1em;
  margin: 0;
  border: 0;
  padding: 0;
  color: $font-color;
  background-color: transparent;
}

#__next {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

noscript {
  z-index: 999;
  position: sticky;
  top: 0;
  height: fit-content;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 0.75em;
  color: $font-color;
  background-color: $dark-bg-color;
  border: 1px solid $smooth-border-color;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 400;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid $smooth-border-color;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  position: relative;
  text-decoration: none;
  word-wrap: break-word;
  color: $font-color;
  background: transparent;
  border: none;
}

a:not(.reset) {
  color: $main-color;
  padding-bottom: 4px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $main-color;
  }

  &:before {
    opacity: 0;
    transform: translateY(-8px);
    transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
  }

  &:after {
    opacity: 0;
    transform: translateY(4px);
    transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.15s;
  }

  &:hover:before,
  &:hover:after {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover:before {
    transition: transform 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.15s;
  }

  &:hover:after {
    transition: transform 0s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.15s;
  }
}

strong {
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
  border-radius: 2px;

  &:hover {
    background: $scrollbar-thumb-hover-color;
  }
}

// TODO: move ?
#guide-w11,
#guide-w10 {
  float: left;
  padding: 1.5em;
  width: 50%;
  display: flex;
  gap: 1em;
  flex-direction: column;

  & > h2 {
    margin-top: 0;
  }

  & p {
    text-align: justify;
  }

  & ul {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    &,
    & li {
      list-style: none;

      & a {
        color: $font-color;
        font-size: 0.9em;
        border-radius: 0.25em;
        padding: 0.5em 0.75em;
        background-color: $btn-color;
        list-style: none;
        transition: 0.15s;

        &:hover {
          background-color: $main-color;
        }
      }
    }
  }
}

.image-hover {
  cursor: pointer;
  margin-top: 0.35em;
}

/* Image home page */
@media screen and (max-width: $media-mobile) {
  * {
    scroll-margin-top: 50px;
  }

  img#img-header {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: $media-small-desktop) {
  #guide-w11,
  #guide-w10 {
    float: unset;
    padding: 0;
    width: 100%;

    & & ul {
      justify-content: start;
    }
  }
}
