@import './colors.scss';

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translate(0, -30px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes lightbox-hover {
  0% {
    outline-offset: 0;
    outline: solid 5px $btn-color;
  }
  80% {
    outline-offset: 10px;
    outline: solid 0 rgba($color: $btn-color, $alpha: 0.5);
  }
}
