.card {
	height: fit-content;
	width: 330px;
	background-color: light-dark(
		var(--mantine-color-white),
		var(--mantine-color-dark-9)
	);
}

.section {
	padding-left: var(--mantine-spacing-md);
	padding-right: var(--mantine-spacing-md);
	padding-bottom: var(--mantine-spacing-md);
}

.like {
	color: var(--mantine-color-red-6);
	width: 20px;
	height: 20px;
}

.sectionTitle {
	text-transform: uppercase;
	font-size: var(--mantine-font-size-sm);
	font-weight: 300;
	color: var(--mantine-color-dimmed);
}

.label {
	font-weight: 300;
	font-size: var(--mantine-font-size-sm);
}

.bold {
	font-weight: 500;
	display: block;
}
