.footer {
	background-color: light-dark(var(--mantine-color-gray-0), #1b2028);
	padding-inline: var(--mantine-spacing-lg);
	padding-block: var(--mantine-spacing-xl);
}

.footer__content {
	max-width: 100%;
	margin-inline: auto;
}

.footer__description {
	width: 50%;
	font-weight: lighter;
}

.footer__field_label {
	color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-white));
	font-weight: 500;
	font-size: var(--mantine-font-size-lg);
	letter-spacing: 0.03em;
}

.footer__field_content {
	column-gap: var(--mantine-spacing-xl);
	row-gap: var(--mantine-spacing-sm);
}

.footer__link {
	color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-white));
	font-weight: lighter;
}

.footer__credits {
	font-weight: lighter;
}

@media (max-width: 62em) {
	.footer__description {
		width: 100% !important;
	}
}
