@import "styles/colors.scss";
@import "styles/keyframes.scss";

.modal-overlay {
  z-index: 1040;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  z-index: 1050;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal {
  z-index: 100;
  position: relative;
  max-height: 75%;
  height: fit-content;
  max-width: 100%;
  background: $bg-color;
  padding: 1rem;
  border-radius: 5px 5px 0 0;
  margin: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: 0.25s fadeInBottom both;
}

.modal-header {
  width: 100%;
  border-bottom: 1px solid $gray-border-color;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close-button {
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 700;
  color: $font-color;
  background: transparent;
  border: none;
}

.modal-body {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
