@import "../../styles/colors.scss";
@import "../../styles/media-queries.scss";

.video-list-desktop {
    height: 100%;
    width: 275px;
    animation: 0.5s fadein both;
}

.video-list-mobile {
    height: auto;
    width: 100%;
    display: none;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: hidden;
    animation: 0.5s fadein both;
}

.video-list {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
    overflow: auto;

    & .video-item {
        cursor: pointer;
        width: 100%;
        aspect-ratio: 16/9;
        padding: 15px;
        padding-bottom: 2px;
        border: 1px solid $smooth-border-color;
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: 0.15s;

        &:hover {
            border: 1px solid transparent;
            box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
            background-color: rgba(0, 0, 0, 0.5);
        }

        &.selected {
            border: 1px solid transparent;
            border-bottom: 3px solid $main-color;
            background-color: rgba(0, 0, 0, 0.5);
        }

        & img {
            height: auto;
            width: 100%;
            aspect-ratio: 16/9;
            transition: 0.15s;
        }

        & .title {
            width: 100%;
            text-align: center;
            padding: 5px 0;
        }
    }
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    height: calc(100vh - 20px);
    width: 100vw;
    background: $dark-bg-color;
    backdrop-filter: contrast(40%) blur(5px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button.button-list {
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    color: $font-color;
    background: $main-color;
    border: 1px solid $main-color;
    padding: 8px 12px;
    border-radius: 3px;
    transition: 0.15s;

    &:hover {
        border: 1px solid $font-color;
    }
}

@media screen and (max-width: $media-mobile) {
    .video-list-desktop {
        display: none;
    }

    .video-list-mobile {
        display: flex;
    }
}
