@import "../../styles/colors.scss";
@import "../../styles/media-queries.scss";

.chapters {
    position: sticky;
    top: 100px;
    height: fit-content;
    width: 350px;
    max-width: 350px;
    padding-right: 20px;
    border-right: 1px solid $smooth-border-color;
    margin: 50px 10px 50px 0;
    display: flex;
    gap: 0.75em;
    align-items: flex-end;
    flex-direction: column;

    counter-reset: chapters-counter;

    & li {
        counter-increment: chapters-counter;

        cursor: pointer;
        width: 100%;
        font-size: 0.85em;
        font-weight: 200;
        display: flex;
        justify-content: flex-end;
        gap: 0.5em;
        transition: 0.15s;

        & a {
            width: fit-content;
            border-bottom: 1px solid transparent;
            display: inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

            &:hover {
                border-bottom: 1px solid $main-color;
            }
        }

        & .number {
            color: $main-color;
        }

        &::after {
            content: " - " counter(chapters-counter);
            color: $main-color;
            font-weight: bold;
            white-space: nowrap;
        }
    }
}

.page-wrapper {
    position: relative;
    display: flex;
    gap: 15px;
}

.chapters-wrapper-mobile ~ .markdown-content,
.chapters-wrapper-desktop ~ .markdown-content {
    width: calc(100% - 375px);
}

.chapters-wrapper-mobile {
    display: none;
    justify-content: center;
}

/* Mobile */
@media screen and (max-width: $media-mobile) {
    .page-wrapper {
        flex-direction: column;
    }

    .chapters-wrapper-mobile {
        display: flex;
    }

    .chapters-wrapper-desktop {
        display: none;
    }

    .chapters {
        align-items: flex-start;
        border: 0;
        margin: 0;
        gap: 15px;

        & li {
            font-size: 1em;

            &::before {
                content: counter(chapters-counter) " - ";
                color: $main-color;
                // font-weight: bold;
            }

            &::after {
                content: "";
            }
        }
    }
}
