.meta {
    max-width: 100%;
    margin-top: 40px;
    opacity: 0;
    animation: .5s fadein both;
    animation-delay: 300ms;
    transform: translate(0, 0);
}

.meta .date {
    color: #999;
    font-style: italic;
}

.meta .description {
    white-space: pre-wrap;
    margin: 25px 0;
    line-height: 1.75em;
}

@media screen and (max-width: 1070px) {
    .meta {
        margin-bottom: 80px;
    }
}