.App {
    width: 1430px;
    transition: .15s;
}

.App.anim {
    width: 1430px;
    transition: .15s;
    opacity: 0;
    animation: .5s fadein both;
    transform: translate(0, 0);
}

.App .center-el {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom {
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    background: #3F88C5;
    margin: 15px 0 25px;
    border: 1px solid #3F88C5;
    padding: 8px 12px;
    border-radius: 4px;
    transition: .15s;
}

.custom:hover {
    border: 1px solid #fff;
}

@media screen and (max-width: 2560px) {
    .App, .App.anim {
        width: 1900px;
    }
}

@media screen and (max-width: 1920px) {
    .App, .App.anim {
        width: 1680px;
    }
}

@media screen and (max-width: 1700px) {
    .App, .App.anim {
        width: 1420px;
    }
}

@media screen and (max-width: 1440px) {
    .App, .App.anim {
        width: 1150px;
    }
}

@media screen and (max-width: 1175px) {
    .App, .App.anim {
        width: 100%;
        padding: 10px;
    }
    .video .video-content iframe {
        max-height: calc((100vw - 40px) / (16 / 9));
    }
}

@media screen and (max-width: 1070px) {
    .video .video-content iframe {
        max-width: 100%;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translate(0, -30px);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}