.Home {
    width: 1110px;
    padding: 0 10px 50px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: .15s;
    opacity: 0;
    animation: .5s fadein both;
    transform: translate(0, 0);
}

.Home > h1,
.Home > h2 {
    color: #3F88C5;
    margin-bottom: 0;
}

.Home > p {
    line-height: 1.7;
    font-weight: 300;
}

.Home > a {
    width: fit-content;
}

@media screen and (max-width: 1130px) {
    .Home {
        width: 100%;
        padding: 0 10px;
    }
}