.Modal_Overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgb(0 0 0 / 75%);
    backdrop-filter: contrast(40%) blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
} 

.Modal {
    height: 100%;
    width: calc(100% - 35px);
    overflow: hidden;
    text-align: center;
}

.Modal .modal-close-btn {
    margin-bottom: 25px;
}

.Modal .video-list {
    height: calc(100% - 80px);
    width: 100%;
    display: block;
    overflow: auto;
}

@media screen and (max-width: 1070px) {
    .custom {
        width: 853px !important;
    }
    .modal-close-btn .custom {
        margin: 15px 0 0;
    }
    .Modal .modal-close-btn {
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width: 900px) {
    .custom {
        width: 100% !important;
    }
}