.App {
    width: 1430px;
}

.App .center-el {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom {
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    background: #3F88C5;
    margin: 15px 0 25px;
    border: 1px solid #3F88C5;
    padding: 8px 12px;
    border-radius: 4px;
    transition: .15s;
}

.custom:hover {
    border: 1px solid #fff;
}

.ineedhelp {
    user-select: none;
    position: fixed;
    right: 25px;
    bottom: 25px;
    height: 50px;
    width: 150px;
    text-decoration: none;
    color: #fff;
    background-color: #3F88C5;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s ease-in-out;
}

.ineedhelp>svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.ineedhelp>.text {
    height: fit-content;
    width: fit-content;
    display: flex;
}

.ineedhelp>.icon {
    height: fit-content;
    width: fit-content;
    display: none;
}

.ineedhelp:hover {
    transform: scale(1.05);
    background: #4F95DA;
}

.ineedhelp:hover svg {
  stroke-dashoffset: -480;
}

@media screen and (max-width: 1440px) {
    .App {
        width: 100%;
        padding: 10px;
    }
    .video .video-content iframe {
        max-width: 100%;
        max-height: calc((100vw - 40px) / (16 / 9));
    }
}

@media screen and (max-width: 600px) {
    .custom {
        width: 100% !important;
    }
    .modal-close-btn .custom {
        margin: 15px 0 0;
    }
    .Modal .modal-close-btn {
        margin-bottom: 0 !important;
    }
}