.rec.rec-arrow.rec {
    color: #fff;
    background: transparent;
    box-shadow: none;
    transition: .15s;
}

.rec.rec-arrow.rec:active {
    color: #333;
    background: #fff;
}

.rec.rec-arrow.rec:focus {
    color: #fff;
    background: transparent;
    box-shadow: none;
}

.rec.rec-arrow.rec:not(:focus):hover {
    background: transparent;
    box-shadow: none;
}

.rec.rec-arrow.rec:not(:disabled):hover {
    transform: scale(1.25);
}

.rec.rec-arrow.rec:disabled {
    color: #999;
}

.rec.rec-dot {
    background: transparent;
    box-shadow: 0 0 1px 2px rgb(0 0 0 / 50%);
}

.rec.rec-dot:hover {
    background: transparent;
    box-shadow: 0 0 1px 2px rgb(0 0 0 / 50%);
}

.rec.rec-dot.rec.rec-dot_active {
    box-shadow: 0 0 1px 3px rgb(190 190 190 / 50%);
}