$main-color: #4fadfc;

$font-color: #fff;
$font-grey-color: #999;
$bg-color: #222831;
$dark-bg-color: #161a1f;

$gray-border-color: #737373;
$smooth-border-color: rgba(255, 255, 255, 0.1);
$black-border-color: rgba(0, 0, 0, 0.3);

$scrollbar-track-color: #222831;
$scrollbar-thumb-color: #323e4f;
$scrollbar-thumb-hover-color: #3a4b62;
