@use "./keyframes.scss";
@import "./colors.scss";

.App {
    height: 100%;
    margin-top: 150px;
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: column;
    animation: fadein 250ms both;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;

        & h1 {
            display: inline-block;
            border-right: 1px solid $black-border-color;
            margin: 0;
            margin-right: 20px;
            padding: 10px 23px 10px 0;
            font-size: 28px;
            font-weight: 500;
            vertical-align: top;
        }

        & h2 {
            font-size: 18px;
            font-weight: normal;
            line-height: inherit;
            margin: 0;
            padding: 0;
        }
    }

    & .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & hr {
            width: 50px;
            margin: 20px 0;
            border: 1px solid $black-border-color;
        }
    }
}

/* Mobile */
@media screen and (max-width: 900px) {
    .App .title {
        margin-bottom: 15px;
        flex-direction: column;

        & h1 {
            border: 0;
            border-bottom: 1px solid $black-border-color;
            margin: 0;
            margin-bottom: 15px;
            padding: 0;
            padding: 0 15px 10px;
        }
    }
}
