@use "./keyframes.scss";

.App {
    height: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: fadein 250ms both;

    & h1 {
        display: inline-block;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        margin: 0;
        margin-right: 20px;
        padding: 10px 23px 10px 0;
        font-size: 28px;
        font-weight: 500;
        vertical-align: top;
    }

    & h2 {
        font-size: 18px;
        font-weight: normal;
        line-height: inherit;
        margin: 0;
        padding: 0;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
