@import "./colors.scss";

* {
    outline: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth !important;
    scroll-margin-top: 100px;
}

html,
body {
    height: 100%;
    width: 100%;
    color: #fff;
    background-color: $bg-color;
    font-family: "Open sans", sans-serif; // Import in HTML file (font not loaded with css import in prod build)
    font-style: normal;
}

.reset {
    margin: 0;
    border: 0;
    padding: 0;
    color: $font-color;
    background-color: $bg-color;
}

#__next {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
}

noscript {
    z-index: 999;
    position: sticky;
    top: 0;
    height: fit-content;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 0.75em;
    color: $font-color;
    background-color: $dark-bg-color;
    border: 1px solid $smooth-border-color;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

hr {
    border: 1px solid $gray-border-color;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    position: relative;
    text-decoration: none;
    word-wrap: break-word;
    color: $font-color;
    background: transparent;
    border: none;
}

a:not(.reset) {
    color: $main-color;
    padding-bottom: 4px;

    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $main-color;
    }

    &:before {
        opacity: 0;
        transform: translateY(-8px);
        transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
    }

    &:after {
        opacity: 0;
        transform: translateY(4px);
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    }

    &:hover:before,
    &:hover:after,
    &:focus:before,
    &:focus:after {
        opacity: 1;
        transform: translateY(0);
    }

    &:hover:before,
    &:focus:before {
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.2s;
    }

    &:hover:after,
    &:focus:after {
        transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s 0.2s;
    }
}

strong {
    font-weight: 500;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
    border-radius: 2px;

    &:hover {
        background: $scrollbar-thumb-hover-color;
    }
}

/* Image home page */
@media screen and (max-width: 900px) {
    * {
        scroll-margin-top: 50px;
    }

    img#img-header {
        height: auto;
        width: 100%;
    }
}
