@use "./keyframes.scss";
@import "./colors.scss";
@import "./media-queries.scss";

.App {
    position: relative;
    width: $media-medium-desktop;
    font-size: 1.2em;
    font-weight: 300;
    padding: 1em;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.15s;
    opacity: 0;
    animation: 0.5s fadein both;

    & .markdown-gh {
        & > * {
            word-break: break-word;
            margin: 1em 0;
            max-width: 100%;
        }

        & h1,
        & h2 {
            border-bottom: 0.5px solid $smooth-border-color;
            margin: 35px 0 0;
            transition: 0.15s;
        }

        & h1,
        & h2,
        & h3,
        & h4,
        & h5,
        & h6 {
            &,
            & > a {
                display: flex;
                gap: 0.25em;
                align-items: center;
            }
        }

        & a {
            width: fit-content;
            font-weight: 400;
        }

        & ul {
            padding-left: 2em;

            & li {
                list-style: disc;
                margin-bottom: 15px;
            }
        }

        & blockquote {
            border-left: 5px solid $smooth-border-color;
            padding-left: 20px;

            & :first-child {
                color: orange;
            }

            & :nth-child(2) {
                color: $font-grey-color;
                font-style: italic;
                font-weight: 400;
            }
        }

        & code {
            width: 100%;
            line-height: 1.5em;
            background: $dark-bg-color;
            border: 1px solid $smooth-border-color;
            border-radius: 3px;
            padding: 1em;
            display: block;
            overflow-x: auto;
        }
    }

    & code.source {
        font-size: 0.85em;
        background-color: $dark-bg-color;
        border: 1px solid $smooth-border-color;
        border-radius: 3px;
        padding: 15px;
        display: flex;
        gap: 0.5em;
        flex-direction: column;

        & > div {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: calc($media-medium-desktop + 20px)) {
    .App {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: $media-mobile) {
    .App img#img-header {
        width: 100%;
    }

    .App h1 {
        font-size: 1.5em;
    }

    .App h2 {
        font-size: 1.3em;
    }

    .App p {
        text-align: justify;
    }
}
