@use "./keyframes.scss";

.App {
    width: 1110px;
    font-size: 1.2em;
    font-weight: 300;
    padding: 15px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: 0.15s;
    opacity: 0;
    animation: 0.5s fadein both;

    & .markdown-gh {
        & h1,
        & h2 {
            border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
            margin-bottom: 0;
            transition: 0.15s;
        }

        & p {
            line-height: 1.4;
            word-break: break-word;
            text-align: justify;
        }

        & a {
            width: fit-content;
            font-weight: 400;
        }
    }

    & code.source {
        font-size: 0.85em;
        background-color: #161a1f;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 15px;
    }
}

@media screen and (max-width: 1130px) {
    .App {
        width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 900px) {
    .App h1 {
        font-size: 1.5em;
    }

    .App h2 {
        font-size: 1.3em;
    }
}
