@import "../../styles/colors.scss";

.menu {
    z-index: 9;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $bg-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;

    & > header {
        height: auto;
        width: 100%;
        border-bottom: 1px solid $gray-border-color;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;

        & .btn-close {
            font-size: 0.85em;
            font-weight: 100;
            padding: 5px 10px;
            border: 1px solid $font-color;
            border-radius: 50%;
        }
    }
}
